<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Source Code Generator</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="immutable-object">
                <span class="bi bi-file-earmark-code-fill-nav-menu" aria-hidden="true"></span> Immutable object
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="entity">
                <span class="bi bi-file-earmark-code-fill-nav-menu" aria-hidden="true"></span> Entity
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="value-object/maximum-length">
                <span class="bi bi-file-earmark-code-fill-nav-menu" aria-hidden="true"></span> Value object (string)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="value-object/uuid">
                <span class="bi bi-file-earmark-code-fill-nav-menu" aria-hidden="true"></span> Value object (UUID)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="value-object/string/pattern">
                <span class="bi bi-file-earmark-code-fill-nav-menu" aria-hidden="true"></span> Value object (pattern)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="value-object/number">
                <span class="bi bi-file-earmark-code-fill-nav-menu" aria-hidden="true"></span> Value object (number)
            </NavLink>
        </div>
    </nav>
</div>
